        /* CSS extra para centralizar e formatar o formulário de login */
        .login-box {
            width: 90%;
            max-width: 350px;
            padding: 50px;
            background: #fff;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin-top: 190px;
        }
        .login-box input[type="email"],
        .login-box input[type="password"] {
            width: 100%;
            padding: 12px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            font-size: 16px;
        }
        .login-box .btn {
            width: 100%;
            padding: 12px;
            margin-top: 20px;
            font-size: 18px;
            background-color: #008CBA; /* Cor do botão 'Comprar' */
            color: white;
            cursor: pointer;
            border: none;
            border-radius: 5px;
            transition: background-color 0.2s;
        }
        .login-box .btn:hover {
            background-color: #005f7c;
        }
        #login-message {
            margin-top: 15px;
            font-weight: bold;
            color: #f44336; /* Cor de erro */
        }